aside#menu
  #navigation
    .profile-picture
      a(href='index.html')
        img.img-circle.m-b(src='images/profile.jpg' alt='logo')
      .stats-label.text-color
        span.font-extra-bold.font-uppercase= usuario.nombre
        .dropdown
          a.dropdown-toggle(href='#' data-toggle='dropdown')
            small.text-muted
              | NickName
              b.caret
          ul.dropdown-menu.animated.flipInX.m-t-xs
            li
              a(href='/contactos') Contactos
            li
              a(href='/perfil') Perfil
            li.divider
            li
              a(href='/logout') Cerrar Sesion
    ul#side-menu.nav
      li.active
        a(href='/')
          span.nav-label Panel de Control
          //span.label.label-success.pull-right v.1
      li
        a(href='/sms')
          span.nav-label Enviar SMS
          span.label.label-warning.pull-right NEW
      li
        a(href='#')
          span.nav-label Usuarios
          span.fa.arrow
        ul.nav.nav-second-level
          li
            a(href='/registrar') Registrar
          li
            a(href='/recargar') Recargar 
