aside#menu
  #navigation
    .profile-picture
      a(href='/')
        img.img-circle.m-b(src='/images/profile.jpg' alt='logo')
      .stats-label.text-color
        span.font-extra-bold.font-uppercase= usuario.nombre
        .dropdown
          a.dropdown-toggle(href='#' data-toggle='dropdown')
            small.text-muted
              case usuario.tipo
                when "aml"
                  | SRQ
                when "emp"  
                  | Corporativo
                when  "su"
                  | Super Usuario
                default
                  | Usuario
              b.caret
          ul.dropdown-menu.animated.flipInX.m-t-xs
            li
              a(href='/contactos') Contactos
            li
              a(href='/perfil') Perfil
            li.divider
            li
              a(href='/logout') Cerrar Sesion
    ul#side-menu.nav
      li.active
        a(href='/')
          span.nav-label Panel de Control
          //span.label.label-success.pull-right v.1
      li
        a(href='#')
          span.nav-label Mensajes
          span.fa.arrow
        ul.nav.nav-second-level
          li
            a(href='/sms') 
              i.fa.fa-send(aria-hidden='true') &nbsp; 
              | Enviar
          li
            a(href='/sms/difusion') 
              i.fa.fa-users(aria-hidden='true') &nbsp; 
              | Difusion
          li
            a(href='/sms/programar')
              | Programar
          li
            a(href='/sms/enviados') Enviados
      if usuario.tipo=="su"
        li
          a(href='#')
            span.nav-label Usuarios
            span.fa.arrow
          ul.nav.nav-second-level
            li
              a(href='/adm/usuarios') Administrar
            li
              a(href='/adm/registrar') Registrar
            li
              a(href='/adm/recargar') Recargar
        li
          a(href='#')
            span.nav-label Recargas
            span.fa.arrow
          ul.nav.nav-second-level
            li
              a(href='/adm/recarga/nueva') Recargar
            li
              a(href='/adm/recarga/solicitudes') Solicitudes
      else
        li
          a(href='#')
            span.nav-label Recargas
            span.fa.arrow
          ul.nav.nav-second-level
            li
              a(href='/usuario/recarga/solicitud') Solicitar
            li
              a(href='/usuario/recarga/historia') Historia
            li
              a(href='/usuario/transferir') Transferir